<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-witdh, initial-scale=1.0">
        <title>文件上传</title>
    </head>
    <body>
        <h2>文件上传</h2>
        <hr>
        <form action="/portrait" method="post" enctype="multipart/form-data">
            用户名:<input type="text" name="username"><br>
            头像: <input type="file" name="portrait"><br>
            <button>点击提交</button>
        </form>
    </body>
</html>